@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

html > body {
  font-family: 'GmarketSansMedium';
}

/* 노말라이즈 */
body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 이미지 슬라이드쇼 */
.wrapper {
  width: 100%;
  overflow: hidden;
}

.photobanner {
  position: relative;
  height: 339px;
  display: flex;
  border-radius: 15px;
  animation: bannermove 800s linear infinite;
}

.photobanner img {
  height: 339px;
  width: 339px;
  margin: 0px 25px;
  border-radius: 15px;
}

@keyframes bannermove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% * 30));
  }
}
